:root {
  --primary: color-mix(
    in oklch,
    oklch(66.569% 0.17234 273.144) 100%,
    transparent
  );
  --primary-article: color-mix(
    in oklch,
    oklch(78.842% 0.12959 76.415) 100%,
    transparent
  );

  --header-shadow: oklch(0% 0 0 / 0.35);
  --white-warm: oklch(12.856% 0.00001 271.152);
  --header-bg: linear-gradient(180deg, #f5f0e8 0%, #ede3cf 50%, #e5d9c0 100%);
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --ring: oklch(0.708 0 0);
  --card-hover: oklch(72.021% 0.12773 42.232 / 0.733);
  --border: 1px solid oklch(0.922 0 0);
  --header-shadow: 0 4px 12px rgba(255, 166, 0, 0.35);
  --mobile-menu: linear-gradient(180deg, #f5f0e8 0%, #ede3cf 50%, #e5d9c0 100%);
  --post-body-th: oklch(12.856% 0.00001 271.152);
}

[data-theme='dark'] {
  --header-shadow: 0 4px 12px rgba(255, 166, 0, 0.35);
  --header-bg: linear-gradient(180deg, #111116 0%, #1a1a1f 50%, #24242a 100%);
  --white-warm: oklch(100% 0.01 70);
  --background: oklch(0.09 0.02 265);
  --foreground: oklch(0.82 0.015 260);
  --primary: color-mix(in oklch, oklch(0.9 0.12 280) 80%, transparent);
  --primary-article: color-mix(in oklch, oklch(0.9 0.1 75) 80%, transparent);
  --primary-foreground: oklch(0.1 0.015 50);
  --muted: oklch(0.18 0.015 50);
  --muted-foreground: oklch(0.6 0.01 260);
  --destructive: oklch(0.704 0.191 22.216);
  --ring: oklch(0.65 0.15 50);
  --divide-border: oklch(0.28 0.02 260);
  --mobile-menu: linear-gradient(180deg, #1a1a1f 0%, #24242a 100%);
  --post-body-th: oklch(100% 0.01 70);
}
